{% extends 'base.html'%}
{% block body%}
 
 <div class="row">
    <div class="col-sm-6">
        <h4 class="text-center alert alert-info" style="padding:down; margin:10px;"> welcome to Admin block</h4>
     <table border="2" class="text-center alert alert-info"  style="font-size: 30px; margin: auto;">
     <tr>
         <th>Srno</th>
         <th>Facilaty Name</th>
         <th>show Details</th>
     </tr>
     <tr>
         <td>1</td>
         <td>Srocker</td>
         <td><a href=" " class="btn btn-primary"> details </a></td>
     </tr>
     <tr>
        <td>2</td>
        <td>Dispacher</td>
        <td><a href=" " class="btn btn-primary"> details </a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Customer</td>
        <td><a href=" " class="btn btn-primary"> details </a></td>
    </tr>
 </table>
</div>
</div>
 
{% endblock %}